{{!-- <li>
	{{name}}
	<button class="change-devour" data-id="{{id}}" data-newstatus="{{eaten}}">
		{{#if eaten}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
</li> --}}

 <li class="list-group-item">
        
    {{burger_name}}
        
    <button type="button" class="btn btn-danger change-eaten" data-id="{{id}}" data-neweat="{{devoured}}"> Devour it!!!</button> 
    
</li>
